.tac {
  text-align: center;
}
.tal {
  text-align: left !important;
}
.tar {
  text-align: right;
}
.ease {
  @include ease;
}
.und {
  text-decoration: underline;
}
.upp {
  text-transform: uppercase;
}
.ttn {
  text-transform: none !important;
}

.posr {
  position: relative;
}

.tdlt {
  text-decoration: line-through;
}

.tal-mobile {
  @include r($breakpoint-4) {
    text-align: left !important;
  }
}
.wsnw {
  white-space: nowrap;
}

.curp {
  cursor: pointer;
}

.radius3 {
  border-radius: $radius3;
}

.z1 {
  position: relative;
  z-index: 1;
}

.ovh {
  overflow: hidden;
}

.lh12 {
  line-height: 1.2;
}

.lh13 {
  line-height: 1.3;
}

.lh14 {
  line-height: 1.4;
}

.lh15 {
  line-height: 1.5;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-lg-40 {
  @include rmin($breakpoint-2) {
    gap: 40px;
  }
}

.gap-lg-50 {
  @include rmin($breakpoint-2) {
    gap: 50px;
  }
}

.gap-xs-10 {
  @include r($breakpoint-4) {
    gap: 10px;
  }
}
.gap-xs-5 {
  @include r($breakpoint-4) {
    gap: 5px;
  }
}

.w-xs-100 {
  @include r($breakpoint-4) {
    width: 100%;
  }
}

//.pt-less-lg-0 {
//  @include r($breakpoint-2) {
//    padding-top: 0 !important;
//  }
//}
//.pb-less-lg-0 {
//  @include r($breakpoint-2) {
//    padding-bottom: 0 !important;
//  }
//}