<section class="section--inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="home-about-info">
                    <div class="font-demibold title-h3 spacing-1">Компания Splitis</div>
                    <div class="lh14 spacing-2">
                        <p>Компания «Splitis.ru» предоставляет качественные услуги по продаже, монтажу и техническому обслуживанию климатической техники.</p>
                        <p>С нами Вам не придется тратить время и усилия для ознакомления со всеми характеристиками климатической техники. Клиенту достаточно лишь оставить заявку на консультацию и наши высококвалифицированные менеджеры помогут Вам выбрать идеальный вариант, инженеры помогут выбрать место для монажа климатической техники и расчитают стоимость работ под ключ.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-6 home-about-item__wrapper">
                            <div class="home-about-item">
                                <div class="font-demibold title-h1 color-red">10</div>
                                <div class="color-gray3 lh15">лет на рынке</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 home-about-item__wrapper">
                            <div class="home-about-item">
                                <div class="font-demibold title-h1 color-red">34</div>
                                <div class="color-gray3 lh15">сотрудника в штате</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 home-about-item__wrapper">
                            <div class="home-about-item">
                                <div class="font-demibold title-h1 color-red">1 526</div>
                                <div class="color-gray3 lh15">выполненных заказов</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 home-about-item__wrapper">
                            <div class="home-about-item">
                                <div class="font-demibold title-h1 color-red">1 245</div>
                                <div class="color-gray3 lh15">положительных отзывов</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 home-about-item__wrapper">
                            <div class="home-about-item">
                                <div class="font-demibold title-h1 color-red">16</div>
                                <div class="color-gray3 lh15">млн, оборот компании</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6 home-about-item__wrapper">
                            <div class="home-about-item">
                                <div class="font-demibold title-h1 color-red">130</div>
                                <div class="color-gray3 lh15">комплексно оснащено зданий</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div data-fancybox data-src="https://www.youtube.com/watch?v=Ibifig1RC9E" class="home-about-picture__wrapper" style="background-image: url('{{root}}assets/img/home/home-about-picture.jpg')">
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <svg width="46" height="53">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <div class="home-about-picture__info font-demibold title-h6">
                        Видеообращение <br> директора компании
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>