<div class="row">
    <div class="col-lg-3 col-sm-6 advantage__wrapper">
        <div class="advantage section-bg-gray">
            <svg width="83" height="80">
                <use xlink:href="#adv-1"></use>
            </svg>
            <div class="font-medium title-h6">Бесплатная доставка по&nbsp;Москве</div>
            <div class="color-gray3 text2">Доставляем кондиционеры по Москве и области всего за один день</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 advantage__wrapper">
        <div class="advantage section-bg-gray">
            <svg width="83" height="80">
                <use xlink:href="#adv-2"></use>
            </svg>
            <div class="font-medium title-h6">Штат опытных монтажников</div>
            <div class="color-gray3 text2">Знаем все об установке и обслуживании кондиционеров</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 advantage__wrapper">
        <div class="advantage section-bg-gray">
            <svg width="83" height="80">
                <use xlink:href="#adv-3"></use>
            </svg>
            <div class="font-medium title-h6">Расширенная гарантия до&nbsp;5 лет</div>
            <div class="color-gray3 text2">Мы отвечаем за качество нашей работы и даём гарантию на монтаж</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 advantage__wrapper">
        <div class="advantage section-bg-gray">
            <svg width="83" height="80">
                <use xlink:href="#adv-4"></use>
            </svg>
            <div class="font-medium title-h6">Персональная система скидок</div>
            <div class="color-gray3 text2">Персональные скидки для наших клиентов. Сэкономьте до 30%!</div>
        </div>
    </div>
</div>