<div class="banner" style="background-image: url('{{root}}assets/img/home/banner-bg.jpg');">
    <div class="row align-items-lg-center">
        <div class="col-lg-6 col-md-8">
            <div class="banner-info">
                <div class="font-bold  banner-title title-h1 spacing-3">Закажите у нас<br class="d-none d-lg-inline"> установку кондиционера</div>
                <div class="font-medium banner-subtitle  title-h5 spacing-3">Оставьте заявку мы рассчитаем стоимость установки и&nbsp;договоримся о&nbsp;выезде мастера</div>
                <button class="button button-secondary mb-4 mb-lg-0" data-fancybox>Оставить заявку</button>
            </div>
        </div>
        <div class="col-lg-6 col-md-4">
            <div class="d-flex justify-content-end h-100 align-items-end justify-content-lg-center">
                <img src="{{root}}assets/img/home/banner-picture.png" alt="Закажите у нас установку кондиционера">
            </div>
        </div>
    </div>
</div>