<section class="section--inner ovh">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Наши сертификаты</div>
        <div class="common-slider__wrapper">
            <div class="common-slider__in js-home-certs-slider">
                <div class="swiper-wrapper common-slider home-certs-slider">
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-1.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-1.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-2.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-2.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-3.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-3.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-4.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-4.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-5.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-5.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-6.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-6.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/certificates/certificate-1.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/certificates/certificate-1.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="common-slider__nav swiper-nav">
                <button class="js-home-certs-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-home-certs-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>



            <div class="d-flex d-lg-none justify-content-center">
                <div class="swiper-pagination js-home-certs-slider-pagination"></div>
            </div>
        </div>
    </div>
</section>