<section class="section--inner">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Наши клиенты</div>

        <div class="row">
            <div class="col-lg-2 col-sm-4 col-md-3 col-6">
                <div class="client-wrapper">
                    <img class="client" src="{{root}}assets/img/brands/brand-1.jpg" alt="Бренд">
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-3 col-6">
                <div class="client-wrapper">
                    <img class="client" src="{{root}}assets/img/brands/brand-3.jpg" alt="Бренд">
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-3 col-6">
                <div class="client-wrapper">
                    <img class="client" src="{{root}}assets/img/brands/brand-7.jpg" alt="Бренд">
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-3 col-6">
                <div class="client-wrapper">
                    <img class="client" src="{{root}}assets/img/brands/brand-4.jpg" alt="Бренд">
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-3 col-6">
                <div class="client-wrapper">
                    <img class="client" src="{{root}}assets/img/brands/brand-9.jpg" alt="Бренд">
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-3 col-6">
                <div class="client-wrapper">
                    <img class="client" src="{{root}}assets/img/brands/brand-11.jpg" alt="Бренд">
                </div>
            </div>
        </div>
    </div>
</section>