<div class="common-table company-details__table">
    <div class="common-table__body">
        <div class="common-table__row">
            <div>Полное наименование организации</div>
            <div>Общество с ограниченной ответственностью «Компания»</div>
        </div>
        <div class="common-table__row">
            <div>Юридический адрес</div>
            <div>123456, г. Москва, ул. Подвойского, д. 14, стр. 7</div>
        </div>
        <div class="common-table__row">
            <div>Почтовый адрес</div>
            <div>123456, г. Москва, ул. Подвойского, д. 14, стр. 7</div>
        </div>
        <div class="common-table__row">
            <div>ИНН</div>
            <div>7712345678</div>
        </div>
        <div class="common-table__row">
            <div>КПП</div>
            <div>779101001</div>
        </div>
        <div class="common-table__row">
            <div>БИК</div>
            <div>044521234</div>
        </div>
        <div class="common-table__row">
            <div>Р/С</div>
            <div>40702810123450101230 в Московский банк ПАО СберБанк г. Москва</div>
        </div>
        <div class="common-table__row">
            <div>К/С</div>
            <div>30101234500000000225</div>
        </div>
        <div class="common-table__row">
            <div>ОКПО</div>
            <div>12345678</div>
        </div>
        <div class="common-table__row">
            <div>ОКАТО</div>
            <div>87654321000</div>
        </div>
        <div class="common-table__row">
            <div>ОКВЭД (основной)</div>
            <div>18.15</div>
        </div>
        <div class="common-table__row">
            <div>ОГРН</div>
            <div>1047712345678</div>
        </div>
        <div class="common-table__row">
            <div>Генеральный директор</div>
            <div>Петров Сергей Петрович</div>
        </div>
        <div class="common-table__row">
            <div>Электронная почта</div>
            <div>info@company.ru</div>
        </div>
        <div class="common-table__row">
            <div>Телефон</div>
            <div>+749512345678</div>
        </div>
        <div class="common-table__row">
            <div>Сайт</div>
            <div>www.company.ru</div>
        </div>
    </div>
</div>