<div class="container">
    <ul class="crumbs">
        <li>
            <a href="#">Главная</a>
            <svg width="20" height="20">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </li>
        <li>
            <a href="#">Второй уровень</a>
            <svg width="20" height="20">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </li>
        <li>
            <a href="#">Третий уровень</a>
            <svg width="20" height="20">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </li>
        <li>
            <span>Название страницы</span>
        </li>
    </ul>
</div>