<section class="section--inner">
    <div class="container">
        <div class="feed" style="background-image: url('{{root}}assets/img/home/feed-bg.jpg');">
            <div class="row align-items-lg-center">
                <div class="col-lg-6">
                    <div class="feed-info">
                        <div class="font-bold title-h1 spacing-3">Есть вопросы? Ответим!</div>
                        <div class="font-medium title-h5 spacing-3">Оставьте заявку мы рассчитаем стоимость установки и договоримся о выезде мастера</div>
                        <form class="feed-form spacing-3">
                            <label class="form-field">
                                <span class="form-field__label">Номер телефона</span>
                                <input type="text" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
                            </label>
                            <button type="submit" class="button button-secondary">Оставить заявку</button>
                        </form>
                        <div class="color-gray-border1 text3">Заполняя форму вы соглашаетесь на <a href="#" class="und feed-link">обработку персональных данных</a></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex justify-content-lg-center">
                        <img src="{{root}}assets/img/home/feed-picture.png" alt="Есть вопросы? Ответим!">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>