<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
            <div class="col-lg-3">
                <div class="d-flex flex-column align-items-start gap-30 mb-4 mb-lg-0">
                    <div class="d-flex flex-column align-items-start">
                        <a href="tel:84953690395" class="font-demibold title-h6 spacing-4">+7 495 369-03-95</a>
                        <span class="text2 color-gray3">ежедневно 9:00-21:00</span>
                    </div>
                    <div class="d-flex flex-column align-items-start">
                        <div class="spacing-4">
                            <span class="font-demibold">г. Мытищи</span>, Веры <br class="d-none d-lg-inline"> Волошиной 19/16, офис&nbsp;409
                        </div>
                        <span class="text2 color-gray3">Адрес офиса</span>
                    </div>
                    <a href="mailto:sales@splitis.ru" class="link-dark">sales@splitis.ru</a>

                    <button class="link font-demibold color-red">Написать руководству</button>

                    <div class="socials">
                        <a href="#" class="socials__link">
                            <svg width="20" height="20" class="fill-gray2 fill-gray2-hover">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                        <a href="#" class="socials__link">
                            <svg width="20" height="20" class="fill-gray2 fill-gray2-hover">
                                <use xlink:href="#tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="socials__link">
                            <svg width="20" height="20" class="fill-gray2 fill-gray2-hover">
                                <use xlink:href="#ws"></use>
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-3 col-6 mb-3 mb-lg-0">
                        <div class="d-flex flex-column align-items-start gap-20">
                            <div class="font-demibold">Покупателям</div>
                            <a href="#" class="link-dark">Доставка</a>
                            <a href="#" class="link-dark">Оплата</a>
                            <a href="#" class="link-dark">Гарантии</a>
                            <a href="#" class="link-dark">Наши работы</a>
                            <a href="#" class="link-dark">Обмен и возврат</a>
                            <a href="#" class="link-dark">Вопрос-ответ</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 mb-lg-0">
                        <div class="d-flex flex-column align-items-start gap-20">
                            <div class="font-demibold">Компания</div>
                            <a href="#" class="link-dark">О компании</a>
                            <a href="#" class="link-dark">Сертификаты</a>
                            <a href="#" class="link-dark">Наши сотрудники</a>
                            <a href="#" class="link-dark">Вакансии</a>
                            <a href="#" class="link-dark">Отзывы</a>
                            <a href="#" class="link-dark">Реквизиты</a>
                            <a href="#" class="link-dark">Новости</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex flex-column align-items-start gap-20">
                            <div class="font-demibold">Кондиционеры</div>

                            <a href="#" class="link-dark">Сплит-системы</a>
                            <a href="#" class="link-dark">Инверторные</a>
                            <a href="#" class="link-dark">Мульти сплит-системы</a>
                            <a href="#" class="link-dark">Внутренние блоки</a>
                            <a href="#" class="link-dark">Полупромышленные</a>
                            <a href="#" class="link-dark">Промышленные</a>
                            <a href="#" class="link-dark">Наружные блоки</a>
                            <a href="#" class="link-dark">Распродажа</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex flex-column align-items-start gap-20">
                            <div class="font-demibold">Услуги</div>
                            <a href="#" class="link-dark">Монтаж</a>
                            <a href="#" class="link-dark">Ремонт</a>
                            <a href="#" class="link-dark">Обслуживание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer-bottom section-bg-gray color-gray3">
        <div class="container">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
                <div class="mb-2 mb-lg-0">2007-2022 © ООО «Сплитис»</div>
                <a href="#" class="color-gray3">Политика конфиденциальности</a>
                <div class="mt-2 mt-lg-0">Продвижение и разработка <a href="#" target="_blank" class="link-blue">ozhgibesov.agency</a></div>
            </div>
        </div>
    </div>
</footer>