<section class="section--inner ovh">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Галерея наших работ</div>

        <div class="common-slider__wrapper">
            <div class="common-slider__in js-gallery-slider">
                <div class="swiper-wrapper common-slider reviews-slider">
                    <div class="swiper-slide">

                        {{> work }}

                    </div>
                    <div class="swiper-slide">

                        {{> work }}

                    </div>
                    <div class="swiper-slide">

                        {{> work }}

                    </div>
                    <div class="swiper-slide">

                        {{> work }}

                    </div>
                </div>
            </div>

            <div class="common-slider__nav swiper-nav">
                <button class="js-gallery-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-gallery-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>

            <div class="swiper-pagination__wrapper">
                <div class="swiper-pagination js-gallery-slider-pagination"></div>
            </div>
        </div>
    </div>
</section>