<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="d-flex flex-row flex-sm-column align-items-center gap-15">
            <svg width="40" height="40" fill="#CB3958">
                <use xlink:href="#cart"></use>
            </svg>
            <span class="lh14">Добавить в корзину нужный товар</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="d-flex flex-row flex-sm-column align-items-center gap-15">
            <svg width="40" height="40" fill="#CB3958">
                <use xlink:href="#car"></use>
            </svg>
            <span class="lh14">Перейдите в корзину и выберите способ доставки</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="d-flex flex-row flex-sm-column align-items-center gap-15">
            <svg width="40" height="40" fill="#CB3958">
                <use xlink:href="#wallet"></use>
            </svg>
            <span class="lh14">Укажите данные получателя и оплатите заказ</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="d-flex flex-row flex-sm-column align-items-center gap-15">
            <svg width="40" height="40">
                <use xlink:href="#smile"></use>
            </svg>
            <span class="lh14">Наслаждайтесь покупкой</span>
        </div>
    </div>
</div>