<section class="section--inner ovh">
    <div class="container">
        <div class="title-h3 font-demibold spacing-1">Благодарственные письма</div>

        <div class="common-slider__wrapper">
            <div class="common-slider__in js-gratitude-slider">
                <div class="swiper-wrapper common-slider">
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-1.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-1.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-2.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-2.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-3.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-3.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-4.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-4.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-1.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-1.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-2.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-2.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-3.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-3.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="gratitude"
                            data-fancybox="gratitude"
                            data-src="{{root}}assets/img/gratitude/gratitude-4.jpg"
                        >
                            <img src="{{root}}assets/img/gratitude/gratitude-4.jpg" alt="Благодарственное письмо">
                        </div>
                    </div>
                </div>
            </div>

            <div class="common-slider__nav swiper-nav">
                <button class="js-gratitude-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-gratitude-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>

            <div class="swiper-pagination__wrapper">
                <div class="swiper-pagination js-gratitude-slider-pagination"></div>
            </div>
        </div>
    </div>
</section>