<div class="row spacing-2">
    <div class="col-lg-9 col-md-10 col-sm-8">
        <p class="mb-0 lh14">При доставке Вы получаете полный пакет документов – паспорт на изделие с гарантий от производителя, накладную и кассовый чек. На все без исключения товары, купленные в нашем интернет-магазине, распространяется фирменная гарантия от производителя.</p>
    </div>
</div>
<div class="section--inner pt-0 d-flex w-100 flex-column gap-20">
    <div class="card-guarantee w-100 section-bg-gray">
        <img src="{{root}}assets/img/guarantee-1.png" alt="Сохраняйте документы на товар">
        <div class="d-flex flex-column gap-15">
            <div class="font-demibold title-h4">Сохраняйте документы на товар</div>
            <div class="lh14">Для обращения к производителю при наступлении гарантийного случая необходим гарантийный талон либо товарная накладная, которая передается Вам во время доставки. Сохраняйте все полученные документы в течение всего гарантийного срока.</div>
        </div>
    </div>
    <div class="card-guarantee w-100 section-bg-gray">
        <img src="{{root}}assets/img/guarantee-2.png" alt="Гарантийный случай – обмен товара на новый!">
        <div class="d-flex flex-column gap-15">
            <div class="font-demibold title-h4">Гарантийный случай – обмен товара на новый!</div>
            <div class="lh14">Если при доставке нового изделия или его дальнейшей эксплуатации надлежащим способом выявляется брак, покупателю обменивается товар на новый! *</div>
            <div class="lh14 color-gray2 text2">* Кроме товаров с механическими повреждениями, загрязнениями или поломками, которые произошли по вине покупателя</div>
        </div>
    </div>
    <div class="card-guarantee w-100 section-bg-gray">
        <img src="{{root}}assets/img/guarantee-3.png" alt="При наступлении гарантийного случая">
        <div class="d-flex flex-column gap-15">
            <div class="font-demibold title-h4">При наступлении гарантийного случая</div>
            <div class="lh14">Все что необходимо при наступлении гарантийного случая позвонить нам по телефону и сообщить о возникшей проблеме, а также дополнительно сообщить нам номер заказа и фамилию заказчика.</div>
        </div>
    </div>
</div>
<div class="section--inner pb-0">
    <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="font-demibold title-h3 spacing-3">Правила получения заказа</div>
            <div>Непосредственно при доставке вам необходимо проверить:</div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex flex-column gap-20">
                <div class="card-guarantee__check">
                                            <span>
                                                <svg width="34" height="34">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </span>
                    <span class="font-medium title-h6">Внешний вид товара</span>
                </div>
                <div class="card-guarantee__check">
                                            <span>
                                                <svg width="34" height="34">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </span>
                    <span class="font-medium title-h6">Комплектность</span>
                </div>
                <div class="card-guarantee__check">
                                            <span>
                                                <svg width="34" height="34">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </span>
                    <span class="font-medium title-h6">Оформление документов и накладных</span>
                </div>
                <div class="card-guarantee__check">
                                            <span>
                                                <svg width="34" height="34">
                                                    <use xlink:href="#check"></use>
                                                </svg>
                                            </span>
                    <span class="font-medium title-h6">Отсутствие механических повреждений</span>
                </div>
            </div>
        </div>
    </div>

</div>