<header class="header">
    <div class="container">
        <div class="header-top__wrapper">
            <div class="header-top">
                <button class="header-location" data-src="#popup-change-location" data-fancybox>
                    <svg class="fill-dark" width="24" height="24">
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                    <span class="ml-2">Санкт-Петербург</span>
                </button>
                <div class="header-top-info text2">
                    <div class="socials">
                        <a href="#" class="socials__link">
                            <svg width="20" height="20" class="fill-gray2 fill-gray2-hover">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                        <a href="#" class="socials__link">
                            <svg width="20" height="20" class="fill-gray2 fill-gray2-hover">
                                <use xlink:href="#tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="socials__link">
                            <svg width="20" height="20" class="fill-gray2 fill-gray2-hover">
                                <use xlink:href="#ws"></use>
                            </svg>
                        </a>
                    </div>

                    <a href="mailto:sales@splitis.ru" class="header-mail">sales@splitis.ru</a>

                    <div class="header-geo">
                        <div class="d-flex align-items-center">
                            <svg width="20" height="20" class="fill-gray2">
                                <use xlink:href="#geo"></use>
                            </svg>
                            <span class="ml-1">Мытищи, Веры Волошиной 19/16, офис 409</span>
                        </div>
                        <span class="color-gray2">пн-вс 9:00-21:00</span>
                    </div>

                    <button data-fancybox data-src="#popup-call" class="font-demibold color-red color-red-hover">Перезвоните мне</button>
                </div>
            </div>
        </div>

        <div class="header-middle">
            <a href="#" class="header-phone">
                <svg width="24" height="24" fill="#CB3958">
                    <use xlink:href="#phone"></use>
                </svg>
            </a>
            <div class="header-logo__wrapper">
                <a href="#" class="header-logo">
                    <svg width="182" height="52">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="header-search">

                {{> search }}

            </div>


            <div class="header-phones__wrapper">
                <div class="header-phones d-flex flex-column align-items-start">
                    <a href="tel:88003690395" class="title-h6 font-demibold mb-1 mb-lg-2">8 800 369-03-95</a>
                    <a href="tel:84953690395" class="text2">+7 495 369-03-95</a>
                </div>
            </div>

            <div class="header-actions__wrapper">
                <div class="header-actions">
                    <a href="#" class="header-actions__link">
                        <svg width="30" height="30" class="fill-dark fill-dark-hover">
                            <use xlink:href="#cabinet"></use>
                        </svg>
                        <span class="header-actions__link-title">Кабинет</span>
                    </a>
                    <a href="#" class="header-actions__link">
                        <svg width="30" height="30" class="fill-dark fill-dark-hover">
                            <use xlink:href="#stat"></use>
                        </svg>
                        <span class="header-actions__link-title">Сравнение</span>
                    </a>
                    <button data-src="#popup-search" data-fancybox class="header-actions__link header-actions__link--search">
                        <svg width="34" height="34" class="stroke-dark-hover stroke-dark">
                            <use xlink:href="#search"></use>
                        </svg>
                        <span class="header-actions__link-title">Поиск</span>
                    </button>
                    <a href="#" class="header-actions__link header-actions__fav">
                        <svg width="30" height="30" class="stroke-dark stroke-dark-hover">
                            <use xlink:href="#favorite"></use>
                        </svg>
                        <span class="header-actions__fav-label">
                            <span>5</span>
                        </span>
                        <span class="header-actions__link-title">Избранное</span>
                    </a>
                    <a href="#" class="header-actions__link">
                        <svg width="30" height="30" class="fill-dark fill-dark-hover">
                            <use xlink:href="#bag"></use>
                        </svg>
                        <span class="header-actions__link-title">Корзина</span>
                    </a>
                </div>
            </div>


            <button class="header-burger js-toggle-menu">
                <svg width="34" height="34">
                    <use xlink:href="#burger"></use>
                </svg>
                <svg width="34" height="34">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
        </div>
        <div class="header-nav__wrapper">
            <nav class="header-nav">
                <div class="header-nav__button-wrapper">
                    <button class="header-nav__button js-toggle-catalog">
                        <span class="header-nav__button-icon">
                            <svg width="24" height="24">
                                <use xlink:href="#burger"></use>
                            </svg>
                            <svg width="24" height="24">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                        <span>Каталог</span>
                    </button>
                    <div class="catalog">

                        <div class="container">
                            <div class="catalog__grid">
                                <div class="catalog__column">
                                    <div class="catalog__column-in">
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link js-catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-1.png" alt="Кондиционеры">
                                                    <span>Кондиционеры</span>
                                                </span>
                                                <svg width="24" height="24">
                                                    <use xlink:href="#chevron-right"></use>
                                                </svg>
                                            </a>

                                            <div class="catalog-dropdown">
                                                <div class="catalog-dropdown__in">
                                                    <div class="catalog-dropdown__title font-demibold">Кондиционеры</div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Сплит-системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link js-catalog-dropdown-link">
                                                            <span>Мобильные кондиционеры</span>
                                                            <svg width="24" height="24">
                                                                <use xlink:href="#chevron-right"></use>
                                                            </svg>
                                                        </a>

                                                        <div class="catalog-subdropdown">
                                                            <div class="catalog-subdropdown__in">
                                                                <div class="catalog-subdropdown__title font-demibold">
                                                                    Мобильные кондиционеры
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link">Без воздуховода</a>
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link">С воздуховодом</a>
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link">С обогревом</a>
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link">С Wi-Fi</a>
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link">Для дачи</a>
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link justify-content-start gap-10 link">
                                                                        <span>Смотреть все</span>
                                                                        <svg width="24" height="24" fill="#CB3958">
                                                                            <use xlink:href="#chevron-right"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Мульти сплит-системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Инверторные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Оконные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Канальные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Кассетные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Сплит системы колонного типа</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Фанкойлы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">VRF системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Полупромышленные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Промышленные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Аксессуары для кондиционеров</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Мульти сплит-системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Инверторные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Оконные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Канальные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Кассетные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Сплит системы колонного типа</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Фанкойлы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">VRF системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Полупромышленные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Промышленные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Аксессуары для кондиционеров</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-2.png" alt="Обогреватели">
                                                    <span>Обогреватели</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link js-catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-3.png" alt="Вентиляторы">
                                                    <span>Вентиляторы</span>
                                                </span>
                                                <svg width="24" height="24">
                                                    <use xlink:href="#chevron-right"></use>
                                                </svg>
                                            </a>

                                            <div class="catalog-dropdown">
                                                <div class="catalog-dropdown__in">
                                                    <div class="catalog-dropdown__title font-demibold">Вентиляторы</div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Сплит-системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link js-catalog-dropdown-link">
                                                            <span>Мобильные кондиционеры</span>
                                                            <svg width="24" height="24">
                                                                <use xlink:href="#chevron-right"></use>
                                                            </svg>
                                                        </a>

                                                        <div class="catalog-subdropdown">
                                                            <div class="catalog-subdropdown__in">
                                                                <div class="catalog-subdropdown__title font-demibold">
                                                                    Мобильные кондиционеры
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link">Без воздуховода</a>
                                                                </div>
                                                                <div class="catalog-subdropdown__link-wrapper">
                                                                    <a href="#" class="catalog-subdropdown__link justify-content-start gap-10 link">
                                                                        <span>Смотреть все</span>
                                                                        <svg width="24" height="24" fill="#CB3958">
                                                                            <use xlink:href="#chevron-right"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Мульти сплит-системы</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Инверторные кондиционеры</a>
                                                    </div>
                                                    <div class="catalog-dropdown__link-wrapper">
                                                        <a href="#" class="catalog-dropdown__link">Оконные кондиционеры</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-4.png" alt="Увлажнители воздуха">
                                                    <span>Увлажнители воздуха</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-5.png" alt="Вентиляция">
                                                    <span>Вентиляция</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-6.png" alt="Очистители воздуха">
                                                    <span>Очистители воздуха</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="catalog-link__wrapper">
                                            <a href="#" class="catalog-link">
                                                <span class="d-flex align-items-center gap-5">
                                                    <img src="{{root}}assets/img/nav/catalog-7.png" alt="Осушители воздуха">
                                                    <span>Осушители воздуха</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__column"></div>
                                <div class="catalog__column"></div>
                                <div class="catalog__grid-base"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link d-flex align-items-center gap-10 gap-xs-5">
                        <span>Услуги</span>
                        <svg width="24" height="24">
                            <use xlink:href="#chevron-bottom"></use>
                        </svg>
                    </a>

                    <div class="header-nav__dropdown">
                        <div class="header-nav__dropdown-in">
                            <div class="header-nav__dropdown-link-wrapper">
                                <a href="#" class="header-nav__dropdown-link d-flex justify-content-between align-items-center gap-10 gap-xs-5">
                                    <span>Кондиционеры</span>
                                    <svg width="24" height="24">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </a>
                                <div class="header-nav__subdropdown">
                                    <div class="header-nav__subdropdown-in">
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Проектирование вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Монтаж вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Обслуживание вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Ремонт вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Демонтаж вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Обследование вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Чистка вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Ремонт осушителей воздуха</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Установка рекуператора</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Установка бризера</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-nav__dropdown-link-wrapper">
                                <a href="#" class="header-nav__dropdown-link">
                                    Обогреватели
                                </a>
                            </div>
                            <div class="header-nav__dropdown-link-wrapper">
                                <a href="#" class="header-nav__dropdown-link d-flex justify-content-between align-items-center gap-10 gap-xs-5">
                                    <span>Вентиляция</span>
                                    <svg width="24" height="24">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </a>
                                <div class="header-nav__subdropdown">
                                    <div class="header-nav__subdropdown-in">
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Проектирование вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Монтаж вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Обслуживание вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Ремонт вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Демонтаж вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Обследование вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Чистка вентиляции</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Ремонт осушителей воздуха</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Установка рекуператора</a>
                                        </div>
                                        <div class="header-nav__subdropdown-link-wrapper">
                                            <a href="#" class="header-nav__subdropdown-link">Установка бризера</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link">Акции</a>
                </div>
                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link">Распродажа</a>
                </div>
                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link">Контакты</a>
                </div>
                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link">Оплата</a>
                </div>
                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link">Гарантия</a>
                </div>
                <div class="header-nav__link-wrapper">
                    <a href="#" class="header-nav__link"></a>
                    <a href="#" class="header-nav__link d-flex align-items-center gap-10 gap-xs-5">
                        <span>Компания</span>
                        <svg width="24" height="24">
                            <use xlink:href="#chevron-bottom"></use>
                        </svg>
                    </a>

                    <div class="header-nav__dropdown">
                        <div class="header-nav__dropdown-in">
                            <div class="header-nav__dropdown-link-wrapper">
                                <a href="#" class="header-nav__dropdown-link">
                                    Компания компания 1
                                </a>
                            </div>
                            <div class="header-nav__dropdown-link-wrapper">
                                <a href="#" class="header-nav__dropdown-link">
                                    Компания компания 3
                                </a>
                            </div>
                            <div class="header-nav__dropdown-link-wrapper">
                                <a href="#" class="header-nav__dropdown-link">
                                    Компания компания 3
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </div>

    <div id="menu" class="header-menu">
        <div class="container">
            <div class="header-menu__in">
            </div>
        </div>
    </div>
</header>

<div class="tapbar">
    <div class="container">
        <div class="tapbar__in"></div>
    </div>
</div>