<section class="section--inner ovh">
    <div class="container posr">
        <div class="d-flex justify-content-lg-between align-items-start align-items-lg-center spacing-2 flex-column flex-lg-row">
            <div class="mb-3 mb-lg-0">
                <div class="font-demibold title-h3 spacing-35">Как мы устанавливаем кондиционеры?</div>
                <div>Рассказываем, на примере обычной сплит-системы для квартиры</div>
            </div>
            <div class="swiper-nav-top swiper-nav d-none d-md-flex">
                <button class="js-how-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-how-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="how-slider__wrapper js-how-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="how">
                        <div class="how-label">1</div>
                        <div class="how-picture" style="background-image: url('{{root}}assets/img/home/how-1.jpg');"></div>
                        <span class="lh14">Наши специалисты в составе из двух человек <span class="font-bold">выезжают</span> к заказчику</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="how">
                        <div class="how-label">2</div>
                        <div class="how-picture" style="background-image: url('{{root}}assets/img/home/how-2.jpg');"></div>
                        <span class="lh14"><span class="font-bold">Доставляют</span> и поднимают оборудование и расходный материал</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="how">
                        <div class="how-label">3</div>
                        <div class="how-picture" style="background-image: url('{{root}}assets/img/home/how-3.jpg');"></div>
                        <span class="lh14">Производят <span class="font-bold">бурение</span> технологического отверстия - 1шт. (диаметр до 5 см.)</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="how">
                        <div class="how-label">4</div>
                        <div class="how-picture" style="background-image: url('{{root}}assets/img/home/how-1.jpg');"></div>
                        <span class="lh14">Наши специалисты в составе из двух человек <span class="font-bold">выезжают</span> к заказчику</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination__wrapper d-md-none">
            <div class="swiper-pagination js-how-slider-pagination"></div>
        </div>
    </div>
</section>