<div class="item">
    <div class="item__in">
        <span class="item__label item__label--new">Новинка</span>

        <div class="item__actions">
            <button class="item__actions-button item__actions-fav js-item-card-toggle">
                <svg width="24" height="24">
                    <use xlink:href="#heart"></use>
                </svg>
            </button>
            <button class="item__actions-button item__actions-stat js-item-card-toggle">
                <svg width="24" height="24">
                    <use xlink:href="#stat"></use>
                </svg>
            </button>
        </div>

        <div class="item__picture-wrapper">
            <img class="item__picture" src="{{root}}assets/img/product.jpg" alt="Фото продукта">
        </div>

        <div class="item__info">
            <div class="item__price">
                <span class="font-demibold title-h5">18 980 р</span>

                <span class="item__price-additional">
                    <span class="color-red">-15%</span>
                    <span class="color-gray2 tdlt">18 980 р</span>
                </span>
            </div>

            <a href="#" class="item__title">Green TSI/TSO-07 HRSY1</a>

            <div class="item__stat">
                <div class="item__rating text25">
                    <svg width="20" height="20" fill="#F5CB5E">
                        <use xlink:href="#star"></use>
                    </svg>
                    <span>4.5</span>
                    <span class="color-gray2 ml-1">47 отзывов</span>
                </div>

                <div class="item__availability text2">
                    <svg width="20" height="20" fill="#16A636">
                        <use xlink:href="#check"></use>
                    </svg>
                    <span>В наличии</span>
                </div>
            </div>

            <div class="item__char">
                <div class="item__char-row">
                    <div>Площадь, м<sup>2</sup></div>
                    <div>26</div>
                </div>
                <div class="item__char-row">
                    <div>Охлаждение, кВт</div>
                    <div>2.64</div>
                </div>
                <div class="item__char-row">
                    <div>Артикул</div>
                    <div>126424</div>
                </div>
            </div>
        </div>

        <a href="#" class="item__button button button-secondary">Купить</a>
    </div>
</div>