<div class="item-favorites">
    <div class="item-favorites__in">

        <div class="item-favorites__picture-wrapper">
            <img class="item-favorites__picture" src="{{root}}assets/img/product.jpg" alt="Фото продукта">
        </div>

        <div class="item-favorites__info">
            <div class="item-favorites__price">
                <span class="font-demibold title-h5">18 980 р</span>

                <span class="item-favorites__price-additional">
                    <span class="color-red">-15%</span>
                    <span class="color-gray2 tdlt">18 980 р</span>
                </span>
            </div>

            <a href="#" class="item-favorites__title">Green TSI/TSO-07 HRSY1</a>

            <div class="item-favorites__stat">
                <div class="item-favorites__rating text25">
                    <svg width="20" height="20" fill="#F5CB5E">
                        <use xlink:href="#star"></use>
                    </svg>
                    <span>4.5</span>
                    <span class="color-gray2 ml-1">47 отзывов</span>
                </div>

                <div class="item-favorites__availability text2">
                    <svg width="20" height="20" fill="#16A636">
                        <use xlink:href="#check"></use>
                    </svg>
                    <span>В наличии</span>
                </div>
                <!--<div class="item-favorites__availability text2">-->
                <!--    <svg width="20" height="20" fill="#CB3958">-->
                <!--        <use xlink:href="#cross"></use>-->
                <!--    </svg>-->
                <!--    <span>Закончился</span>-->
                <!--</div>-->
            </div>

            <div class="item-favorites__char">
                <div class="item-favorites__char-row">
                    <div>Площадь, м<sup>2</sup></div>
                    <div>26</div>
                </div>
                <div class="item-favorites__char-row">
                    <div>Охлаждение, кВт</div>
                    <div>2.64</div>
                </div>
                <div class="item-favorites__char-row">
                    <div>Артикул</div>
                    <div>126424</div>
                </div>
            </div>
        </div>

        <div class="item-favorites__bottom">
            <a href="#" class="button button-tertiary">Купить</a>

            <div class="item-favorites__actions">
                <button class="item-favorites__actions-button item-favorites__actions-stat js-item-card-toggle">
                    <svg width="24" height="24">
                        <use xlink:href="#stat"></use>
                    </svg>
                </button>
                <button class="item-favorites__actions-button item-favorites__actions-fav js-item-card-toggle">
                    <svg width="24" height="24">
                        <use xlink:href="#heart"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</div>