<div class="item-togglable">
    <div class="item-togglable__in">

        <span class="item__label item__label--new">Новинка</span>

        <div class="item-togglable__actions">
            <button class="item-togglable__actions-button item-togglable__actions-fav js-item-togglable-card-toggle">
                <svg width="24" height="24">
                    <use xlink:href="#heart"></use>
                </svg>
            </button>
            <button class="item-togglable__actions-button item-togglable__actions-stat js-item-togglable-card-toggle">
                <svg width="24" height="24">
                    <use xlink:href="#stat"></use>
                </svg>
            </button>
        </div>

        <div class="item-togglable__picture-wrapper">
            <img class="item-togglable__picture" src="{{root}}assets/img/product.jpg" alt="Фото продукта">
        </div>

        <div class="item-togglable__info">
            <div class="item-togglable__info-top">
                <div class="item-togglable__price">
                    <span class="font-demibold title-h5">18 980 р</span>

                    <span class="item-togglable__price-additional">
                        <span class="color-red">-15%</span>
                        <span class="color-gray2 tdlt">18 980 р</span>
                    </span>
                </div>

                <a href="#" class="item-togglable__title">Green TSI/TSO-07 HRSY1</a>

                <div class="item-togglable__stat">
                    <div class="item-togglable__rating text25">
                        <svg width="20" height="20" fill="#F5CB5E">
                            <use xlink:href="#star"></use>
                        </svg>
                        <span>4.5</span>
                        <span class="color-gray2 ml-1">47 отзывов</span>
                    </div>

                    <div class="item-togglable__availability text2">
                        <svg width="20" height="20" fill="#16A636">
                            <use xlink:href="#check"></use>
                        </svg>
                        <span>В наличии</span>
                    </div>
                </div>
            </div>

            <div class="item-togglable__info-bottom">
                <button class="button button-tertiary spacing-3">Купить</button>
                <div class="d-flex align-items-center gap-10">
                    <svg width="24" height="24" fill="#007EDA">
                        <use xlink:href="#car"></use>
                    </svg>
                    <span class="text2">Доставим за 2 дня</span>
                </div>
            </div>
        </div>

        <div class="item-togglable__char">
            <a href="#" class="item-togglable__char-title font-medium">Инверторная сплит-система Scoole SC AC SPI5 07</a>
            <div class="item-togglable__char-row">
                <div>Площадь, м<sup>2</sup></div>
                <div>26</div>
            </div>
            <div class="item-togglable__char-row">
                <div>Охлаждение, кВт</div>
                <div>2.64</div>
            </div>
            <div class="item-togglable__char-row">
                <div>Страна производства</div>
                <div>Китай</div>
            </div>
            <div class="item-togglable__char-row">
                <div>Компрессор</div>
                <div>Инвертор</div>
            </div>
            <div class="item-togglable__char-row">
                <div>Обогрев, кВт</div>
                <div>2.3</div>
            </div>
            <div class="item-togglable__char-row">
                <div>Артикул</div>
                <div>126424</div>
            </div>
        </div>

        <a href="#" class="item-togglable__button button button-secondary">Купить</a>
    </div>
</div>