<section class="section--inner">
    <div class="container">
        <div class="spacing-1">
            <div class="font-demibold title-h3 spacing-35">Что входит в комплект установки?</div>
            <div>В стоимость входят все необходимые комплектующие и расходные материалы</div>
        </div>

        <div class="pack-grid">
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-1.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Труба медная</div>
                    <div class="text2 color-gray3">2 штуки по 5 метров</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-2.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Межблочный кабель</div>
                    <div class="text2 color-gray3">до 5-ти метров</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-3.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Кронштейны под наружный блок</div>
                    <div class="text2 color-gray3">2 штуки</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-4.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Анкер для кронштейнов</div>
                    <div class="text2 color-gray3">4 штуки</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-5.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Дюбель-гвоздь</div>
                    <div class="text2 color-gray3">6х40 мм до 10 штук</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-6.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Гофрированный дренаж</div>
                    <div class="text2 color-gray3">до 5-ти метров</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-7.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Термоизоляция</div>
                    <div class="text2 color-gray3">2 штуки по 5 метров</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-8.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Тефлоновая обмотка</div>
                    <div class="text2 color-gray3">до 5 метров</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-9.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Кабель-канал</div>
                    <div class="text2 color-gray3">60х60 мм до 1 метра</div>
                </div>
            </div>
            <div class="pack-item">
                <img src="{{root}}assets/img/home/complect-10.jpg" alt="Комплект">
                <div class="w-100">
                    <div class="mb-1">Болты, шайбы, гайки</div>
                    <div class="text2 color-gray3">комплект</div>
                </div>
            </div>
        </div>
    </div>
</section>