<div id="popup-call" class="popup__wrapper popup__wrapper--sm" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Обратный звонок</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Оставьте заявку мы рассчитаем стоимость установки и договоримся о выезде мастера</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Ваш телефон</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-secondary" type="submit">Оставить заявку</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>
<div id="popup-question" class="popup__wrapper popup__wrapper--lg" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Задать вопрос</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Оставьте заявку мы рассчитаем стоимость установки и договоримся о выезде мастера</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Ваше имя</span>
                <input type="text" class="form-field__input" placeholder="Семён">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>
            <label class="form-field form-field--bg form-field-textarea">
                <textarea rows="6" placeholder="Текст вопроса"></textarea>
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-secondary" type="submit">Оставить заявку</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>
<div id="popup-placement-order" class="popup__wrapper popup__wrapper--lg" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Заказать установку</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Оставьте заявку мы рассчитаем стоимость установки и договоримся о выезде мастера</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg form-field--select">
                <span class="form-field__label">Город</span>
                <select class="js-select">
                    <option>Железнодорожный</option>
                    <option>Железнодорожный 2</option>
                    <option>Железнодорожный 3</option>
                    <option>Железнодорожный 4</option>
                </select>
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Номер телефона</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-secondary" type="submit">Оставить заявку</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>
<div id="popup-arrival" class="popup__wrapper" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Узнать о поступлении</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Оставьте ваши данные и мы сразу сообщим вам о поступлении товара</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Номер телефона</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20 spacing-3">
                <button class="button button-secondary" type="submit">Оставить заявку</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>


            <div class="popup-card">
                <div class="popup-card__picture">
                    <img src="{{root}}assets/img/product.jpg" alt="Продукт">
                </div>
                <div class="d-flex flex-column align-items-start gap-5">
                    <a href="#">Green TSI/TSO-07 HRSY1</a>
                    <div class="d-flex align-items-center gap-10">
                        <div class="font-demibold">18 980 р</div>
                        <div class="color-gray2 tdlt">19 980 р</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="popup-one-click" class="popup__wrapper" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Купить в один клик</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Оставьте ваши данные и мы оформим заказ</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Номер телефона</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20 spacing-3">
                <button class="button button-secondary" type="submit">Оформить заказ</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>

            <div class="popup-card">
                <div class="popup-card__picture">
                    <img src="{{root}}assets/img/product.jpg" alt="Продукт">
                </div>
                <div class="d-flex flex-column align-items-start gap-5">
                    <a href="#">Green TSI/TSO-07 HRSY1</a>
                    <div class="d-flex align-items-center gap-10">
                        <div class="font-demibold">18 980 р</div>
                        <div class="color-gray2 tdlt">19 980 р</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="popup-cart-success" class="popup__wrapper popup__wrapper--lg" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Товар добавлен в корзину</div>
        </div>

        <div class="popup-card spacing-3">
            <div class="popup-card__picture">
                <img src="{{root}}assets/img/product.jpg" alt="Продукт">
            </div>
            <div class="d-flex flex-column align-items-start gap-5">
                <a href="#">Green TSI/TSO-07 HRSY1</a>
                <div class="d-flex align-items-center gap-10">
                    <div class="font-demibold">18 980 р</div>
                    <div class="color-gray2 tdlt">19 980 р</div>
                </div>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-sm-6 mb-2 mb-sm-0">
                <a href="#" class="button button-secondary w-100 px-1">Перейти в корзину</a>
            </div>
            <div class="col-sm-6">
                <button data-src="#popup-one-click" data-fancybox class="button button-quaternary w-100 px-1">Купить в 1 клик</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-sign-in" class="popup__wrapper popup__wrapper--sm" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Вход на сайт</div>
        </div>
        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">splitisuser@gmail.com</span>
                <input type="text" class="form-field__input" placeholder="splitisuser@gmail.com">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Пароль</span>
                <input type="password" class="form-field__input" placeholder="********">
            </label>

            <label class="checkbox spacing-4">
                <input type="checkbox" checked>
                <span class="checkbox__text">
                    <svg width="24" height="24">
                        <use xlink:href="#check"></use>
                    </svg>
                    <span>Запомнить меня</span>
                </span>
            </label>

            <button type="submit" class="w-100 button button-secondary">Войти</button>
        </form>
    </div>
</div>
<div id="popup-reply" class="popup__wrapper popup__wrapper--lg" style="display: none">
    <div class="popup__in popup-reply">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Откликнуться на вакансию</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Отправьте ваше резюме и мы свяжемся с вами</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Ваше имя</span>
                <input type="text" class="form-field__input" placeholder="Семён">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Номер телефона</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>
            <label class="form-field form-field--bg form-field-textarea">
                <textarea rows="4" placeholder="Сопроводительное письмо"></textarea>
            </label>

            <label class="link-blue link-blue-svg-fill ease d-flex align-items-center gap-10 curp spacing-4">
                <svg width="24" height="24">
                    <use xlink:href="#pin"></use>
                </svg>
                <input class="file-input js-file-input js-file-input-reply" type="file">
                <span class="file-list">Прикрепить резюме</span>
            </label>


            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-secondary" type="submit">Отправить отклик</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>
<div id="popup-review" class="popup__wrapper popup__wrapper--lg" style="display: none">
    <div class="popup__in popup-review">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Оставить отзыв</div>
        </div>

        <div class="title-h6 lh14 spacing-2">Поделитесь впечатлениями о работе с нами</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Ваше имя</span>
                <input type="text" class="form-field__input" placeholder="Семён">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Номер телефона</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>
            <label class="form-field form-field--bg form-field-textarea">
                <textarea rows="4" placeholder="Текст отзыва"></textarea>
            </label>

            <label class="link-blue link-blue-svg-fill ease d-flex align-items-center gap-10 curp spacing-4">
                <svg width="24" height="24">
                    <use xlink:href="#pin"></use>
                </svg>
                <input class="file-input js-file-input js-file-input-review" type="file">
                <span class="file-list">Прикрепить файл</span>
            </label>


            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-secondary" type="submit">Отправить отзыв</button>
                <span class="color-gray2 text3">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-gray2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>

<div id="popup-review-success" class="popup__wrapper popup__wrapper--sm" style="display: none">
    <div class="popup__in tac">
        <div class="d-flex flex-column align-items-center gap-20 gap-xs-10 w-100">
            <div class="popup-check__wrapper">
                <svg width="60" height="60" fill="#fff">
                    <use xlink:href="#check"></use>
                </svg>
            </div>
            <div>
                <div class="title-h4 font-demibold spacing-4">Отзыв отправлен</div>
                <div class="title-h6 lh14">Спасибо за отзыв, он будет опубликован сразу, после проверки модератором</div>
            </div>

            <button class="button button-secondary js-close-fancybox">Понятно</button>

        </div>
    </div>
</div>
<div id="popup-feed-success" class="popup__wrapper popup__wrapper--xs" style="display: none">
    <div class="popup__in tac">
        <div class="d-flex flex-column align-items-center gap-20 gap-xs-10 w-100">
            <div class="popup-check__wrapper">
                <svg width="60" height="60" fill="#fff">
                    <use xlink:href="#check"></use>
                </svg>
            </div>
            <div class="title-h4 font-demibold">Вы подписались на&nbsp;рассылку</div>

            <button class="button button-secondary js-close-fancybox">Понятно</button>

        </div>
    </div>
</div>
<div id="popup-call-order-success" class="popup__wrapper popup__wrapper--xs" style="display: none">
    <div class="popup__in tac">
        <div class="d-flex flex-column align-items-center gap-20 gap-xs-10 w-100">
            <div class="popup-check__wrapper">
                <svg width="60" height="60" fill="#fff">
                    <use xlink:href="#check"></use>
                </svg>
            </div>
            <div>
                <div class="title-h4 font-demibold spacing-4">Спасибо за&nbsp;заявку!</div>
                <div class="title-h6 lh14">Мы свяжемся с вами в&nbsp;течение рабочего&nbsp;дня</div>
            </div>

            <button class="button button-secondary js-close-fancybox">Понятно</button>

        </div>
    </div>
</div>
<div id="popup-promo" class="popup__wrapper popup__wrapper--xs" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-2">Применить промокод</div>
        </div>
        <form class="d-flex flex-column w-100 gap-30 gap-xs-10">
            <label class="form-field form-field--bg">
                <input type="text" class="form-field__input" placeholder="SALE2022">
            </label>

            <button type="submit" class="w-100 button button-secondary">Применить</button>
        </form>
    </div>
</div>
<div id="popup-location" class="popup__wrapper popup__wrapper--xs" style="display: none">
    <div class="popup__in">
        <div class="d-flex flex-column align-items-start spacing-3">
            <div class="color-gray2 spacing-4">Вы находитесь в</div>
            <div class="d-flex align-items-center gap-10">
                <svg width="24" height="24" fill="#7F8A9B">
                    <use xlink:href="#geo"></use>
                </svg>
                <span>Санкт-Петербург</span>
            </div>
        </div>
        <div class="row w-100">
            <div class="col-sm-6 mb-2 mb-sm-0">
                <a href="#" class="button button-secondary w-100 px-1 js-close-fancybox">Продолжить</a>
            </div>
            <div class="col-sm-6">
                <button data-src="#popup-change-location" data-fancybox class="button button-quaternary w-100 px-1">Изменить</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-change-location" class="popup__wrapper popup__wrapper--xl" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Ваш город: Санкт-Петербург</div>
        </div>

        <input type="text" class="search__input spacing-3" placeholder="Введите название вашего города">

        <div class="popup-change-location__list">
            <a class="popup-change-location__link js-fancybox-close" href="#">Волгоград</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Воронеж</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Екатеринбург</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Ижевск</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Казань</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Калининград</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Кемерово</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Кострома</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Красноярск</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Магнитогорск</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Москва</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Набережные челны</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Новосибирск</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Нижний Новгород</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Омск</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Пенза</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Пермь</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Ростов-на-Дону</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Самара</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Санкт-Петербург</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Тюмень</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Уфа</a>
            <a class="popup-change-location__link js-fancybox-close" href="#">Челябинск</a>
        </div>
    </div>
</div>

<div id="popup-card-review" class="popup__wrapper popup__wrapper--xl" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-demibold spacing-3">Форточная модель с механическим управлением</div>

            <div class="d-flex flex-column gap-xs-5 gap-20 align-items-start align-items-md-center flex-md-row spacing-3">
                <div>Анастасия</div>
                <div class="color-gray2 text3">10 декабря 2022</div>
                <div class="card-review__label card-review__label--green">
                    Эксперт
                </div>
            </div>

            <img class="img-responsive spacing-3 radius3" src="{{root}}assets/img/card-review-picture.jpg" alt="Форточная модель с механическим управлением">

            <div class="lh14 text2 d-flex flex-column align-items-start gap-15 gap-xs-10">
                <div>
                    <p>General Climate GCW-09HR1</p>
                    <p>Модель очень популярная. Причем востребована ничуть не меньше, чем какая-нибудь суперкомпактная «пятёрка». Например, этого же производителя. Естественно, увеличенная производительность – 2.7/2.43 кВт – сказалась на габаритах моноблока. Об установке в форточку уже говорить не приходится, зато поддерживается режим обогрева и имеется дистанционное управление.</p>
                    <p>А поскольку это самое управление электронное, доступны дополнительные режимы, такие как таймер, сон, самодиагностика, автоматический перезапуск. В конструкции данной оконной «девятки» используется высококачественный компрессор Gree-Daikin (Landa). Фреон – R410А. Заявленная величина звукового давления внутри помещения 46/48/50 дБ(А), снаружи, естественно, выше – 53/55/57.</p>
                </div>

                <div>
                    <div class="font-demibold spacing-4">Плюсы</div>
                    <div>Дополнительные режимы, такие как таймер, сон, самодиагностика, автоматический перезапуск</div>
                </div>

                <div>
                    <div class="font-demibold spacing-4">Минусы</div>
                    <div>Шумная работа</div>
                </div>

                <div>
                    <div class="font-demibold spacing-4">Заключение</div>
                    <div>Хороший «оконник» с пультом и удобными настройками. Для своей мощности не сильно громоздкий. Работает тише, чем можно было ожидать, но на ночь приходится отключать. Охлаждает хорошо, обогрев ещё не пробовали.</div>
                </div>
            </div>
        </div>
    </div>
</div>