<section class="section--inner">
    <div class="container">
        <div class="title-h3 font-demibold spacing-4">
            Стоимость установки кондиционеров
        </div>
        <div class="title-h6 spacing-1">
            Цены на монтажные работы с покупкой кондиционера и без:
        </div>

        <div class="price-table__wrapper">
            <div class="common-table price-table">
                <div class="common-table__header">
                    <div class="common-table__row">
                        <div>Мощность</div>
                        <div>Модели</div>
                        <div>Площадь</div>
                        <div>С покупкой в&nbsp;1&nbsp;этап</div>
                        <div>С покупкой в&nbsp;2&nbsp;этапа</div>
                        <div>Без покупки в&nbsp;1&nbsp;этап</div>
                        <div>Без покупки в&nbsp;2&nbsp;этапа</div>
                    </div>
                </div>
                <div class="common-table__body">
                    <div class="common-table__row">
                        <div>до 1.5 кВт</div>
                        <div>05 BTU</div>
                        <div>10-15 м²</div>
                        <div>6 000 р</div>
                        <div>5 000 + 2500 р</div>
                        <div>7 500 р</div>
                        <div>7 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 2.5 кВт</div>
                        <div>07 BTU</div>
                        <div>16-21 м²</div>
                        <div>8 000 р</div>
                        <div>7 000 + 2500 р</div>
                        <div>10 000 р</div>
                        <div>9 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 2.5 кВт</div>
                        <div>09 BTU</div>
                        <div>22-27 м²</div>
                        <div>8 000 р</div>
                        <div>7 000 + 2500 р</div>
                        <div>10 000 р</div>
                        <div>9 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 3.0 кВт</div>
                        <div>10 BTU</div>
                        <div>28-30 м²</div>
                        <div>8 000 р</div>
                        <div>7 000 + 2500 р</div>
                        <div>10 000 р</div>
                        <div>9 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 3.5 кВт</div>
                        <div>12 BTU</div>
                        <div>31-36 м²</div>
                        <div>9 000 р</div>
                        <div>8 000 + 2500 р</div>
                        <div>11 000 р</div>
                        <div>10 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 5.0 кВт</div>
                        <div>18 BTU</div>
                        <div>37-54 м²</div>
                        <div>10 000 р</div>
                        <div>9 000 + 2500 р</div>
                        <div>12 000 р</div>
                        <div>11 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 7.0 кВт</div>
                        <div>24 BTU</div>
                        <div>55-72 м²</div>
                        <div>12 000 р</div>
                        <div>11 000 + 2500 р</div>
                        <div>14 000 р</div>
                        <div>13 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 9.0 кВт</div>
                        <div>30 BTU</div>
                        <div>73-90 м²</div>
                        <div>13 000 р</div>
                        <div>12 000 + 2500 р</div>
                        <div>15 000 р</div>
                        <div>14 000 + 3 500 р</div>
                    </div>
                    <div class="common-table__row">
                        <div>до 11.0 кВт</div>
                        <div>36 BTU</div>
                        <div>91-108 м²</div>
                        <div>15 000 р</div>
                        <div>14 000 + 2500 р</div>
                        <div>17 000 р</div>
                        <div>16 000 + 3 500 р</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>