<section class="section--inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="font-demibold title-h3 spacing-3">Вопрос-ответ</div>
                <div class="spacing-2 color-gray3 lh14">Мы собрали самые частые вопросы от&nbsp;наших клиентов. Если вы не нашли ответа, свяжитесь с нами</div>
                <button class="button button-secondary">Задать вопрос</button>
            </div>
            <div class="col-lg-8">

                {{> question-list }}

            </div>
        </div>
    </div>
</section>