<div class="question-list">
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="title-h6 font-demibold">Что такое катехин?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Катехиновый фильтр – содержит в себе катехин, вещество, получаемое из листьев чайного дерева и известное своими антибактериальными свойствами. Катехин окружает своей оболочкой болезнетворные вирусы. Фильтр с данной технологией уничтожает бактерии и устраняет неприятные запахи
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="title-h6 font-demibold">Аллергены. Что это?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Катехиновый фильтр – содержит в себе катехин, вещество, получаемое из листьев чайного дерева и известное своими антибактериальными свойствами. Катехин окружает своей оболочкой болезнетворные вирусы. Фильтр с данной технологией уничтожает бактерии и устраняет неприятные запахи
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="title-h6 font-demibold">Понятие инверторной технологии</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Катехиновый фильтр – содержит в себе катехин, вещество, получаемое из листьев чайного дерева и известное своими антибактериальными свойствами. Катехин окружает своей оболочкой болезнетворные вирусы. Фильтр с данной технологией уничтожает бактерии и устраняет неприятные запахи
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="title-h6 font-demibold">Факторы влияющие на выбор кондиционера по мощности</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Катехиновый фильтр – содержит в себе катехин, вещество, получаемое из листьев чайного дерева и известное своими антибактериальными свойствами. Катехин окружает своей оболочкой болезнетворные вирусы. Фильтр с данной технологией уничтожает бактерии и устраняет неприятные запахи
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="title-h6 font-demibold">Что такое цикл хладагента?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Катехиновый фильтр – содержит в себе катехин, вещество, получаемое из листьев чайного дерева и известное своими антибактериальными свойствами. Катехин окружает своей оболочкой болезнетворные вирусы. Фильтр с данной технологией уничтожает бактерии и устраняет неприятные запахи
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="title-h6 font-demibold">При влюченном кондиционере появляется сквозняк. Почему так?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Катехиновый фильтр – содержит в себе катехин, вещество, получаемое из листьев чайного дерева и известное своими антибактериальными свойствами. Катехин окружает своей оболочкой болезнетворные вирусы. Фильтр с данной технологией уничтожает бактерии и устраняет неприятные запахи
        </div>
    </div>
</div>