<div class="rating">
    <svg width="20" height="20" fill="#F5CB5E">
        <use xlink:href="#star"></use>
    </svg>
    <svg width="20" height="20" fill="#F5CB5E">
        <use xlink:href="#star"></use>
    </svg>
    <svg width="20" height="20" fill="#F5CB5E">
        <use xlink:href="#star"></use>
    </svg>
    <svg width="20" height="20" fill="#F5CB5E">
        <use xlink:href="#star"></use>
    </svg>
    <svg width="20" height="20" fill="#DEE1E5">
        <use xlink:href="#star"></use>
    </svg>
</div>