<section class="section--inner ovh">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Отзывы о нашей работе</div>
        <div class="common-slider__wrapper">
            <div class="common-slider__in js-reviews-slider">
                <div class="swiper-wrapper common-slider reviews-slider">
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review-top">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="font-medium spacing-4">Александр</div>

                                    {{> rating }}

                                </div>
                                <div class="text2 color-gray1">02.09.2022</div>
                            </div>
                            <div class="review-info color-gray3 lh15">
                                Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные. Нужную температуру набирает быстро и затем отключается. В результате не так много энергии уходит. Дизайн красивый. Много...
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review-top">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="font-medium spacing-4">Александр</div>

                                    {{> rating }}

                                </div>
                                <div class="text2 color-gray1">02.09.2022</div>
                            </div>
                            <div class="review-info color-gray3 lh15">
                                Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные
                            </div>
                            <a href="#" class="review-button">
                                <svg width="20" height="20">
                                    <use xlink:href="#vk-link"></use>
                                </svg>
                                <span>Оригинал отзыва</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review-top">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="font-medium spacing-4">Александр</div>

                                    {{> rating }}

                                </div>
                                <div class="text2 color-gray1">02.09.2022</div>
                            </div>
                            <div class="review-info color-gray3 lh15">
                                Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные. Нужную температуру набирает быстро и затем отключается...
                            </div>

                            <a href="#" class="review-button">
                                <svg width="20" height="20">
                                    <use xlink:href="#google-link"></use>
                                </svg>
                                <span>Оригинал отзыва</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review-top">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="font-medium spacing-4">Александр</div>

                                    {{> rating }}

                                </div>
                                <div class="text2 color-gray1">02.09.2022</div>
                            </div>
                            <div class="review-info color-gray3 lh15">
                                Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные. Нужную температуру набирает быстро и затем отключается. В результате не так много энергии уходит. Дизайн красивый. Много...
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review-top">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="font-medium spacing-4">Александр</div>

                                    {{> rating }}

                                </div>
                                <div class="text2 color-gray1">02.09.2022</div>
                            </div>
                            <div class="review-info color-gray3 lh15">
                                Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные
                            </div>
                            <a href="#" class="review-button">
                                <svg width="20" height="20">
                                    <use xlink:href="#vk-link"></use>
                                </svg>
                                <span>Оригинал отзыва</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review-top">
                                <div class="d-flex flex-column align-items-start">
                                    <div class="font-medium spacing-4">Александр</div>

                                    {{> rating }}

                                </div>
                                <div class="text2 color-gray1">02.09.2022</div>
                            </div>
                            <div class="review-info color-gray3 lh15">
                                Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные. Нужную температуру набирает быстро и затем отключается. В результате не так много энергии уходит. Дизайн красивый. Много...
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="common-slider__nav swiper-nav">
                <button class="js-reviews-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-reviews-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>

            <div class="swiper-pagination__wrapper">
                <div class="swiper-pagination js-reviews-slider-pagination"></div>
            </div>
        </div>
    </div>
</section>