<div class="search">
    <form class="search__in">
        <input type="text" class="search__input" placeholder="Поиск по сайту">
        <button type="submit" class="search__button">
            <svg width="34" height="34" >
                <use xlink:href="#search"></use>
            </svg>
        </button>

        <div class="search-dropdown">
            <div class="search-dropdown__in">
                <div class="search-dropdown__list">
                    <div class="search-dropdown__section">
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Настенные сплит-системы</span>
                                <span class="search-dropdown__item-label">255</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Категория</span>
                        </div>
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Инверторные сплит-системы</span>
                                <span class="search-dropdown__item-label">22</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Категория</span>
                        </div>
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Напольно-потолочного типа</span>
                                <span class="search-dropdown__item-label">13</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Категория</span>
                        </div>
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Кассетного типа</span>
                                <span class="search-dropdown__item-label">44</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Категория</span>
                        </div>
                    </div>
                    <div class="search-dropdown__section">
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Electrolux</span>
                                <span class="search-dropdown__item-label">1</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Бренд</span>
                        </div>
                    </div>
                    <div class="search-dropdown__section">
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Сплит-системы</span>
                                <span class="search-dropdown__item-label">22</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Подсказка</span>
                        </div>
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Кондиционеры</span>
                                <span class="search-dropdown__item-label">13</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Подсказка</span>
                        </div>
                        <div class="search-dropdown__item">
                            <a href="#" class="search-dropdown__item-title">
                                <span>Бесшумные кондиционеры</span>
                                <span class="search-dropdown__item-label">44</span>
                            </a>
                            <span class="search-dropdown__item-name color-gray2">Подсказка</span>
                        </div>
                    </div>
                    <div class="search-dropdown__section">
                        <div class="search-dropdown__product">
                            <img class="search-dropdown__product-picture" src="{{root}}assets/img/search-product.jpg" alt="Продукт">
                            <div class="search-dropdown__product-info">
                                <a href="#" class="search-dropdown__product-title">Green TSI/TSO-07 HRSY1</a>
                                <div class="d-flex align-items-center">
                                    <span class="font-demibold mr-2 mr-xl-3">18 980 р</span>
                                    <span class="tdlt text2 color-gray2">18 980 р</span>
                                </div>
                            </div>
                            <button class="button button-tertiary button-tertiary-icon-fill">
                                <svg width="24" height="24">
                                    <use xlink:href="#bag"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search-dropdown__product">
                            <img class="search-dropdown__product-picture" src="{{root}}assets/img/search-product.jpg" alt="Продукт">
                            <div class="search-dropdown__product-info">
                                <a href="#" class="search-dropdown__product-title">Rovex RS-09CST4</a>
                                <div class="d-flex align-items-center">
                                    <span class="font-demibold mr-2 mr-xl-3">21 850 р</span>
                                    <span class="tdlt text2 color-gray2">18 980 р</span>
                                </div>
                            </div>
                            <button class="button button-tertiary button-tertiary-icon-fill">
                                <svg width="24" height="24">
                                    <use xlink:href="#bag"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search-dropdown__product">
                            <img class="search-dropdown__product-picture" src="{{root}}assets/img/search-product.jpg" alt="Продукт">
                            <div class="search-dropdown__product-info">
                                <a href="#" class="search-dropdown__product-title">Ultima Comfort ECL-07PN</a>
                                <div class="d-flex align-items-center">
                                    <span class="font-demibold mr-2 mr-xl-3">21 000 р</span>
                                    <span class="tdlt text2 color-gray2">18 980 р</span>
                                </div>
                            </div>
                            <button class="button button-tertiary button-tertiary-icon-fill">
                                <svg width="24" height="24">
                                    <use xlink:href="#bag"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#" class="search-dropdown__link button-link-tertiary">
                        <span>Все результаты поиска</span>
                        <svg width="24" height="24">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>