<section class="section--inner">
    <div class="container">
        <div class="font-demibold title-h3 spacing-3">Тут будет SEO текст</div>
        <div class="seo-text spacing-3">
            <p>У нас можно купить кондиционер в Москве с бесплатной доставкой и гарантией производителя по выгодной цене. Действует персональная система скидок.</p>
            <p>Оформите заявку и менеджер компании выявит Вашу потребность, согласует наличие товара на складе, уточнит адрес доставки или оформит самовывоз, дату и время, способ оплаты (наличными, банковской картой или безналичный расчёт).</p>
            <p>Доставка и монтаж по стандарту качества осуществляет штатная бригада специалистов из двух человек. Предоставляем гарантию до 5 лет на все работы, оформляем сопроводительную документацию. При покупке кондиционеров с установкой действует акция со скидкой до 30% и бесплатной доставкой по г. Москва и Московской области.</p>
            <p>У нас можно купить кондиционер в Москве с бесплатной доставкой и гарантией производителя по выгодной цене. Действует персональная система скидок.</p>
            <p>Оформите заявку и менеджер компании выявит Вашу потребность, согласует наличие товара на складе, уточнит адрес доставки или оформит самовывоз, дату и время, способ оплаты (наличными, банковской картой или безналичный расчёт).</p>
        </div>
        <button class="button button-primary-outlined w-100 js-toggle-seo-text"><span>Показать весь</span> текст</button>
    </div>
</section>