<div class="row">
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-1"></use>
            </svg>
            <span class="title-h6">Установка кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-2"></use>
            </svg>
            <span class="title-h6">Демонтаж кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-3"></use>
            </svg>
            <span class="title-h6">Перенос кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-4"></use>
            </svg>
            <span class="title-h6">Чистка кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-5"></use>
            </svg>
            <span class="title-h6">Заправка кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-6"></use>
            </svg>
            <span class="title-h6">Обслуживание кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-7"></use>
            </svg>
            <span class="title-h6">Ремонт кондиционеров</span>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6">
        <div class="service">
            <svg width="32" height="32">
                <use xlink:href="#service-8"></use>
            </svg>
            <span class="title-h6">Диагностика кондиционеров</span>
        </div>
    </div>
</div>