<section class="section--inner pt-0">
    <div class="container">
        <div class="category-brands-slider__wrapper common-slider__wrapper">
            <div class="common-slider__in js-category-brands-slider">
                <div class="swiper-wrapper common-slider">
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-1.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-2.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-5.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-6.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-9.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-10.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-1.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-2.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-1.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-2.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-5.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-6.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-9.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-10.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-1.jpg" alt="Бренд">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{root}}assets/img/brands/brand-2.jpg" alt="Бренд">
                        </a>
                    </div>
                </div>
            </div>

            <div class="common-slider__nav swiper-nav">
                <button class="js-category-brands-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-category-brands-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>

            <div class="d-flex d-lg-none justify-content-center">
                <div class="swiper-pagination js-category-brands-slider-pagination"></div>
            </div>
        </div>
    </div>
</section>