<section class="section--inner">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Кондиционеры по&nbsp;мощности</div>
        <div class="splits-by-type__list">
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>1</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>2</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>3</span><span>кВт</span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>5</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>6</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>7</span><span>кВт</span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>8</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>9</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>10</span><span>кВт</span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>8</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>9</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>10</span><span>кВт</span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>12</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>16</span><span>кВт</span></a>
                <a href="#" class="splits-by-type__link"><span>17</span><span>кВт</span></a>
            </div>
        </div>
    </div>
</section>
<section class="section--inner">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Кондиционеры по&nbsp;площади</div>
        <div class="splits-by-type__list">
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>10 - 20</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>30 - 40</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>50 - 60</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>20 - 30</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>40 - 50</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>> 60</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>10</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>12</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>15</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>16</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>18</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>20</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>25</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>30</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>35</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>40</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>45</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>50</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>55</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>60</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>65</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>70</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>75</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>80</span><span>м<sup>2</sup></span></a>
            </div>
            <div class="splits-by-type__column flex-grow-1">
                <a href="#" class="splits-by-type__link"><span>90</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>100</span><span>м<sup>2</sup></span></a>
                <a href="#" class="splits-by-type__link"><span>150</span><span>м<sup>2</sup></span></a>
            </div>
        </div>
    </div>
</section>
<section class="section--inner">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Кондиционеры по&nbsp;BTU</div>
        <div class="splits-by-type__list">
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>7 000</span><span>BTU</span></a>
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>9 000</span><span>BTU</span></a>
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>12 000</span><span>BTU</span></a>
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>16 000</span><span>BTU</span></a>
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>18 000</span><span>BTU</span></a>
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>24 000</span><span>BTU</span></a>
            <a href="#" class="splits-by-type__link splits-by-type__link--btu"><span>36 000</span><span>BTU</span></a>
        </div>
    </div>
</section>