<section class="section--inner pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-1.png" alt="Настенные сплит-системы">
                    <span>Настенные сплит-системы</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-2.png" alt="Инверторные сплит-системы">
                    <span>Инверторные сплит-системы</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-3.png" alt="Напольно-потолочного типа">
                    <span>Напольно-потолочного типа</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-4.png" alt="Кассетного типа">
                    <span>Кассетного типа</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-5.png" alt="Канального типа">
                    <span>Канального типа</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-6.png" alt="Колонного типа">
                    <span>Колонного типа</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-7.png" alt="Внутренние блоки сплит-систем">
                    <span>Внутренние блоки сплит-систем</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a class="category-item" href="#">
                    <img src="{{root}}assets/img/category-8.png" alt="Наружные блоки сплит-систем">
                    <span>Наружные блоки сплит-систем</span>
                </a>
            </div>
        </div>
    </div>
</section>