<div class="common-link__list">
    <a href="#" class="common-link">Недорогие</a>
    <a href="#" class="common-link">Хиты продаж</a>
    <a href="#" class="common-link">Для небольшой квартиры</a>
    <a href="#" class="common-link">Корейские</a>
    <a href="#" class="common-link">Настенные</a>
    <a href="#" class="common-link">С двумя блоками</a>
    <a href="#" class="common-link">Мощные</a>
    <a href="#" class="common-link">Японские</a>
    <a href="#" class="common-link">До 5 кВт</a>
    <a href="#" class="common-link">С обогревом</a>
    <a href="#" class="common-link">Инверторные</a>
    <a href="#" class="common-link">Оконные</a>
    <a href="#" class="common-link">Мобильные</a>
</div>