<section class="section--inner ovh">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Последние отзывы</div>
        <div class="common-slider__wrapper">
            <div class="common-slider__in js-last-reviews-slider">
                <div class="swiper-wrapper common-slider last-review-slider">
                    <div class="swiper-slide">
                        <div class="last-review">
                            <div class="last-review__top">
                                <img src="{{root}}assets/img/home/last-review-picture.jpg" alt="Green TSI/TSO-07 HRSY1">
                                <div class="d-flex flex-column align-items-start">
                                    <a href="#" class="font-medium spacing-4">Green TSI/TSO-07 HRSY1</a>
                                    <div class="rating">
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#DEE1E5">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="last-review__info">
                                <div class="d-flex justify-content-between align-items-center spacing-4 w-100">
                                    <div class="font-medium">Александр</div>
                                    <span class="text2 color-gray1">02.09.2022</span>
                                </div>
                                <div class="lh14 color-gray3">Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные. Нужную температуру набирает быстро и затем отключается. В результате не так много энергии уходит. Дизайн красивый. Много...</div>
                                <a href="#" class="link mt-2 d-inline-block">Читать далее</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="last-review">
                            <div class="last-review__top">
                                <img src="{{root}}assets/img/home/last-review-picture.jpg" alt="Zanussi ZACS-06 HS/A21/N1">
                                <div class="d-flex flex-column align-items-start">
                                    <a href="#" class="font-medium spacing-4">Zanussi ZACS-06 HS/A21/N1</a>
                                    <div class="rating">
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="last-review__info">
                                <div class="d-flex justify-content-between align-items-center spacing-4 w-100">
                                    <div class="font-medium">Алина</div>
                                    <span class="text2 color-gray1">02.09.2022</span>
                                </div>
                                <div class="lh14 color-gray3">Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="last-review">
                            <div class="last-review__top">
                                <img src="{{root}}assets/img/home/last-review-picture.jpg" alt="Ultima Comfort ECL-07PN/A21/N1">
                                <div class="d-flex flex-column align-items-start">
                                    <a href="#" class="font-medium spacing-4">Ultima Comfort ECL-07PN/N1</a>
                                    <div class="rating">
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="last-review__info">
                                <div class="d-flex justify-content-between align-items-center spacing-4 w-100">
                                    <div class="font-medium">Сергей</div>
                                    <span class="text2 color-gray1">02.09.2022</span>
                                </div>
                                <div class="lh14 color-gray3">Хороший мобильный кондиционер для своей цены. Довольно быстро охлаждает. Конечно, от него исходит небольшой шум, но с этим можно смириться ради того, чтобы находиться в прохладном помещении.</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="last-review">
                            <div class="last-review__top">
                                <img src="{{root}}assets/img/home/last-review-picture.jpg" alt="Green TSI/TSO-07 HRSY1">
                                <div class="d-flex flex-column align-items-start">
                                    <a href="#" class="font-medium spacing-4">Green TSI/TSO-07 HRSY1</a>
                                    <div class="rating">
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#F5CB5E">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="20" height="20" fill="#DEE1E5">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="last-review__info">
                                <div class="d-flex justify-content-between align-items-center spacing-4 w-100">
                                    <div class="font-medium">Александр</div>
                                    <span class="text2 color-gray1">02.09.2022</span>
                                </div>
                                <div class="lh14 color-gray3">Купила месяц назад данный кондиционер. Со скидкой вышло недорого. Пульт и управление удобные. Нужную температуру набирает быстро и затем отключается. В результате не так много энергии уходит. Дизайн красивый. Много...</div>
                                <a href="#" class="link mt-2 d-inline-block">Читать далее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="common-slider__nav swiper-nav">
                <button class="js-last-reviews-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-last-reviews-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>

            <div class="swiper-pagination__wrapper">
                <div class="swiper-pagination js-last-reviews-slider-pagination"></div>
            </div>
        </div>
    </div>
</section>