<section class="section--inner">
    <div class="container">
        <div class="font-demibold title-h3 spacing-1">Где получить кондиционер в&nbsp;Москве</div>
        <div class="row">
            <div class="col-md-4">
                <label class="form-field form-field--select spacing-2">
                    <span class="form-field__label">Населённый пункт</span>
                    <select class="js-select">
                        <option>Москва</option>
                        <option>Санкт-Петербург</option>
                        <option>Самара</option>
                        <option>Тюмень</option>
                    </select>
                </label>
                <div class="where-list__wrapper">
                    <div class="where-list d-flex flex-column align-items-start">
                        <button class="where-list__item">
                            <span class="font-medium lh14">Россия, г. Москва, ул. Чертановская, д. 30, корп. 5</span>
                            <span class="color-gray2">Пункт выдачи СДЭК</span>
                        </button>
                        <button class="where-list__item">
                            <span class="font-medium lh14">Россия, 141402, обл. Московская, г. Химки, ул. Московская, д. 13/1</span>
                            <span class="color-gray2">Пункт выдачи Boxberry</span>
                        </button>
                        <button class="where-list__item">
                            <span class="font-medium lh14">Россия, Москва, Ярославское шоссе, 114к1</span>
                            <span class="color-gray2">Пункт выдачи СДЭК</span>
                        </button>
                        <button class="where-list__item">
                            <span class="font-medium lh14">Россия, Москва, улица Тихомирова, 1</span>
                            <span class="color-gray2">Пункт выдачи Boxberry</span>
                        </button>
                        <button class="where-list__item">
                            <span class="font-medium lh14">Россия, г. Москва, ул. Чертановская, д. 30, корп. 5</span>
                            <span class="color-gray2">Пункт выдачи СДЭК</span>
                        </button>
                        <button class="where-list__item">
                            <span class="font-medium lh14">Россия, 141402, обл. Московская, г. Химки, ул. Московская, д. 13/1</span>
                            <span class="color-gray2">Пункт выдачи Boxberry</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
</section>