@font-face {
  font-family: 'GolosText-Bold';
  src: url('../fonts/GolosText-Bold.eot');
  src: url('../fonts/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GolosText-Bold.woff2') format('woff2'),
  url('../fonts/GolosText-Bold.woff') format('woff'),
  url('../fonts/GolosText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText-DemiBold';
  src: url('../fonts/GolosText-DemiBold.eot');
  src: url('../fonts/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GolosText-DemiBold.woff2') format('woff2'),
  url('../fonts/GolosText-DemiBold.woff') format('woff'),
  url('../fonts/GolosText-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText-Regular';
  src: url('../fonts/GolosText-Regular.eot');
  src: url('../fonts/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GolosText-Regular.woff2') format('woff2'),
  url('../fonts/GolosText-Regular.woff') format('woff'),
  url('../fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText-Black';
  src: url('../fonts/GolosText-Black.eot');
  src: url('../fonts/GolosText-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GolosText-Black.woff2') format('woff2'),
  url('../fonts/GolosText-Black.woff') format('woff'),
  url('../fonts/GolosText-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosTextVF-Regular';
  src: url('../fonts/GolosTextVF-Regular.eot');
  src: url('../fonts/GolosTextVF-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GolosTextVF-Regular.woff2') format('woff2'),
  url('../fonts/GolosTextVF-Regular.woff') format('woff'),
  url('../fonts/GolosTextVF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText-Medium';
  src: url('../fonts/GolosText-Medium.eot');
  src: url('../fonts/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GolosText-Medium.woff2') format('woff2'),
  url('../fonts/GolosText-Medium.woff') format('woff'),
  url('../fonts/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



